*{
    margin:0;
    padding:0;
}

body{ background-image: url(../images/human.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* ESTILO DE LA NAV BAR */

nav{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color:rgb(138,205,242);
}

.nav-bar-header{
    width: 100%;
    height: 100%;
    
}
.nav-bar-header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-bar-header li{
    padding : 2px 7px 2px 7px;
    
}
.nav-bar-header a{
    text-decoration: none;

}

/* --------------------------------------------------------------------------- */



.title-register{
    font-size: 1.5em;
}

.titulo-login{
    text-align: center;
    font-size: 2em;
}

.botones-login{
    display:flex;
    justify-content: center;
    padding-top: 40%;
    flex-wrap: nowrap;
    flex-direction: row;
}

.button{
    border-radius: 6px;
    background-color: rgb(138,205,242);
    font-size: 2em;
    justify-content: center;
    padding-top: 30%;
}

.input-group {
    margin: 25px 0;
    position: relative;
    font-size: 30px;
}

.input-group input {
    width: 300px;
    padding: 15px;
    background-color: ryba(255, 255, 255, 0.5);
    color: #111;
    outline: none;
    border: none;
    font-family: "Century Gothic";
}

label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
    pointer-events: none;
    font-family: "Century Gothic";
}

label span {
    display: inline-block;
    transition: transform 0.2s, color 0.3s;
}

input:focus+label span,
input:not(:placeholder-shown)+label span {
    transform: translateY(-38px);
    color: #fff;
}

.message-container{
    font-size: 50px;
    color: red;
    background-color: rgb(138,205,242);
}

@media (min-width: 768px){
    .titulo-login{
        text-align: center;
        font-size: 55px;
        padding-top: 5%;
    }
    .button{
        text-align: center;
        border-radius: 6px;
        background-color: rgb(138,205,242);
        font-size: 50px;
        width: 330px;
        height: 50px;
    
    }
    .title-register{
        font-size: 50px;
    }
}