*{
    margin:0;
    padding:0;
}
body{ background-image: url("https://media.giphy.com/media/xThuWjC7yute751y0g/giphy.gif");
    background-size: 100%;}
    
    
 nav{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color:rgb(138,205,242);
}

.home{
    font-size: 1.5em;
}

/* CSS DE LA NAV BAR */

.nav-bar-header{
    width: 100%;
    height: 100%;
    display: fixed;
}
.nav-bar-header ul{
    list-style-type: none;
}

.nav-bar-header li{
    padding : 2px 7px 2px 7px;
    
}
.nav-bar-header a{
    text-decoration: none;

}

.button{
    text-align: center;
    border-radius: 6px;
    background-color: rgb(138,205,242);
    font-size: 2em;
}

/* --------------------------------------------------------- */
    
.results{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
.cookie{
    width: 50px;
    height: 50px;

}
.text-congrats{
    font-size: 25px;
    padding : 70% 5% 70% 5%;
    text-align: center;
        
      }

.random-quote{
    letter-spacing: 1px;
    text-align: center;
    text-transform: Uppercase;
}
